@model FrontEnd_Student.Models.Student
@functions {
    public string FormatDate(DateTime date)
    {
        var day = date.Day;
        var suffix = "th";
        if (day % 10 == 1 && day != 11) suffix = "st";
        else if (day % 10 == 2 && day != 12) suffix = "nd";
        else if (day % 10 == 3 && day != 13) suffix = "rd";

        return $"{day}<sup>{suffix}</sup>-{date:MMM-yyyy}";
    }
}
<div class="modal fade" id="detailsModal" tabindex="-1" role="dialog" aria-labelledby="detailsModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="detailsModalLabel">Student Details</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <dl class="row">
                    <dt class="col-sm-4">ID</dt>
                    <dd class="col-sm-8">@Model.Id</dd>

                    <dt class="col-sm-4">First Name</dt>
                    <dd class="col-sm-8">@Model.FirstName</dd>

                    <dt class="col-sm-4">Last Name</dt>
                    <dd class="col-sm-8">@Model.LastName</dd>

                    <dt class="col-sm-4">Gender</dt>
                    <dd class="col-sm-8">@Model.Gender</dd>

                    <dt class="col-sm-4">Email</dt>
                    <dd class="col-sm-8">@Model.Email</dd>

                    <dt class="col-sm-4">Phone</dt>
                    <dd class="col-sm-8">@Model.Phone</dd>

                    <dt class="col-sm-4">Date of Birth</dt>
                    <dd class="col-sm-8">@Html.Raw(FormatDate(Model.DateOfBirth))</dd>

                    <dt class="col-sm-4">Age</dt>
                    <dd class="col-sm-8">@Model.Age</dd>
                </dl>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" id="detail-info" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>

<script>
    $(document).ready(function () {
        $('#detailsModal').modal('show');

        $('#detailsModal').on('hidden.bs.modal', function () {
            history.pushState(null, '', '/');
            $('#modal-container').empty();
        });

        $('#detail-info').click(function () {
            history.pushState(null, '', '/');
            $('#detailsModal').modal('hide');
        });
    });
</script>
